@import "tailwindcss";

:root {
  --background: #F6F8EE;
  --foreground: #3E4850;
}

@theme {
  /* Colores de tu paleta */
  --color-bone: #F6F8EE;
  --color-night: #3E4850;
  --color-rose: #FFDC62;
  --color-tumbleweed: #DEDAD6;
  --color-sky: #BCDFE6;

  /* Redefinimos los colores base para que tus componentes viejos no se rompan */
  --color-purple-600: #3E4850;
  --color-blue-600: #3E4850;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}